/*LOADER*/
/*Création du loader*/
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #9356dc;
    border-bottom: 10px solid #ff79da;
    border-left: 10px solid #99e2d0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear;

/*Placement de la div loading*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Animation du loader*/
@keyframes loader {
    100% {
    opacity: 0;
    z-index: -10;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*FIN LOADER*/

/*REMPLISSAGE ICONE*/

@keyframes fulfill {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*ANIMATION PAGE RESTAURANT*/

@keyframes itemAppear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}